/*  =============
    global styles
    =============  */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}
.container {
    margin: 0 auto;
    padding: 15px;
    max-width: 85%;
}

/*  =============
      variables
    =============  */

:root {
    --main-color: #19c8fa;
}

/*  =============
       layout
    =============  */

header {
    background-image: url(../imgs/landing.jpg);
    filter: blur();
    background-size: cover;
    width: 100%;
    height: 100vh;
}